@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-size: larger;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

:root {
  --UltraViolet: #1a1a1c;
  --RoseQuartz: #9a9399;
  --PaleDogwood: #cbbab6;
  --Isabelline: #F2E9E4;
  --Background: #f5f5f5;
  --Background-Dark: #222222;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--Background-Dark);
  color: var(--UltraViolet);
}

header {
  background-color: var(--UltraViolet);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: var(--Isabelline);
  margin: 0;
  font-size: 2em;
}

header a {
  color: var(--RoseQuartz);
  text-decoration: none;
  font-weight: bold;
  margin: 30px;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

header a:hover {
  color: var(--Isabelline);
}

.file-reader h2{
  color: var(--Isabelline);
  text-decoration: none;
  font-weight: bold;
  margin: 30px;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.file-reader h2:hover {
  color: var(--RoseQuartz);
}

div {
  color: var(--Isabelline);
  max-width: 800px;
  margin: 40px auto;
  background: var(--UltraViolet);
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

body div h1 {
  color: var(--Isabelline);
  font-size: xx-large;
}

body div h4 {
  color: var(--Isabelline);
  font-size: x-large;
}

.file-reader {
  max-width: 800px;
  margin: 40px auto;
  background: var(--UltraViolet);
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.file-reader input {
  margin-bottom: 10px;
}

.file-content {
  background-color: var(--UltraViolet);
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

a {
  text-decoration: none;
}

.file-content p {
  font-size: 20px;
  margin-bottom: 50px;
}

.file-content h1 {
  font-size: 25px;
  margin-bottom: -20px;
}

#title {
  font-size: 15px;
  color: #636368;
  margin-bottom: 0px;
  font-weight: bold;
}

span {
   display: inline-block;
   margin-left: 2em;
   font-size: 20px;
   font-style:oblique;
}

i, b {
  font-style: italic;
  font-size: 0.95em;
}

nav a {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
  justify-content: center;
  display: none;
  transition: all 0.3s ease-in-out;
}

img {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#menuImage {
  top: 12%;
  right: 10px;
}

@media (max-width: 481px) {
  #menuImage {
    top: 24%;
    width: 40px;
    height: 40px;
  }
}

img:hover, nav a:hover {
  transform: scale(1.1, 1.1);
}

#topArrow {
  bottom: 5%;
  right: 5%;
  display: none;
  position: fixed;
  opacity: 0.6;
}